@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');
// https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51
// https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557
// https://coolors.co/fec5bb-fcd5ce-fae1dd-f8edeb-e8e8e4-d8e2dc-ece4db-ffe5d9-ffd7ba-fec89a
// https://coolors.co/22223b-4a4e69-9a8c98-c9ada7-f2e9e4

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
    background-color: #f2e9e4;
    font-size: 16px;
    line-height: 22px;
}

.Container {
    margin: auto;
    padding: 0;
    width: 85%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#Hero {
    padding: 0;
    height: 704px;
    display: flex;
    flex-direction: row;

    .Section_title {
        flex-grow: 1;
        width: 50%;
        margin-top: 132px;
        margin-bottom: 68px;

        h1 {
            margin: 0;
            padding: 0;
            color: #1d3557;
            font-size: 54px;
            line-height: 84px;
            font-weight: 300;
        }

        h2 {
            margin: 0;
            padding: 32px 0 0 0;
            color: #457B9D;
            font-size: 32px;
            line-height: 40px;
            font-weight: 400;

            span {
                font-size: 32px;
                line-height: 40px;
                font-weight: 400;
                color: #E63946;
            }
        }

        p {
            padding-top: 32px;
            font-size: 16px;
            line-height: 28px;
            padding-right: 32px;
            color: #457B9D;
        }
    }

    .Image_wrapper {
        flex-grow: 1;
        align-items: flex-end;
        width: 50%;
        margin-top: 132px;
        margin-bottom: 68px;
        background-image: url("../../images/abdullah_reza.png");
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    }
}

.Blog {
    padding: 0;
    height: 704px;
    display: flex;
    flex-direction: row;
    background-color: #1D3557;
}